.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--light-gray);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  background-color: var(--white);
  max-width: 300px;
  border-radius: 15px;
  margin-bottom: 30px;
  padding: 15px;
}

.qr-code {
  max-width: 100%;
}

.qr-code img {
  width: 100%;
  border-radius: 10px;
}

.texts h2 {
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  color: var(--dark-blue);
  margin: 20px 0 15px 0;
}

.texts p {
  color: var(--grayish-blue);
  font-size: 0.9rem;
  font-weight: 400;
  text-align: center;
  padding: 0 15px;
  margin-bottom: 20px;
}
